.red {
  background-color: red;
}

.breads {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  padding: 5px 10px;
  color: rgb(104, 104, 104);
}

.logo-back {
  color: rgb(0, 180, 217, 1);
  font-size: 2rem;
}

.header-list-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.items-list-items {
  width: 100%;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

.folder-header {
  position: sticky !important;
  top: 10.05vh;
  background-color: white;
}

.file-container {
  width: 45%;
  border: 1px solid rgb(0, 180, 217, 0);
  margin: 2%;
}

.header-list-items > h1 {
  font-size: 2rem;
  font-style: bold;
}

.icon-list {
  color: rgb(0, 180, 217, 1);
  font-size: 5rem;
  padding: 5%;
  z-index: inherit;
}

.image-list {
  width: 70px;
  height: 70px;
}

.fileName {
  font-size: 1rem;
  overflow: scroll;
}

.add-icon {
  font-size: 1.8rem;
  color: rgb(0, 180, 217, 1);
  margin: 5px 10px;
}

.title-border {
  border-bottom: 1px solid rgb(181, 181, 181);
}

.title-border > h1 {
  margin-left: 15px;
}

.minus {
  color: white;
  width: 80%;
  margin: 5% 10%;
  display: flex;
  justify-content: flex-end;
}

.container-File:hover > .minus {
  color: rgb(0, 180, 217, 1);
  transition: all 1s ease-in;
}

@media only screen and (min-width: 600px) {
  .file-container {
    width: 20%;
  }
}

@media only screen and (min-width: 1000px) {
  .file-container {
    width: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .file-container {
    width: 12%;
  }
}
